body {
  background-color: #FFCCCC; /* Warna Pink Cerah */
font-family: Arial, sans-serif; /*jenis huruf yang bersih dan mudah dibaca */
color: #000000; /* Warna teks utama (Hitam) */
}

.kartu-profil {
  width: 300px;
  margin: 50px auto; /* 50px jarak atas/bawah, auto menengahkan kiri/kanan */
  padding: 20px;
  background-color: white;
  border-radius: 15px; /* membuat sudut menjadi melengkung */
  box-shadow: 0 4px 8px rgba(0,0,0,0,1); /* efek bayangan */
  text-align: center; /* Menengahkan  semua teks di dalam kartu */
}


.kartu-profil img{
  width: 150px;
  border-radius: 50%; /* Trik untuk membuat gambar persegi menjadi lingkaran sempurna */
}
.kartu-profil

.daftar-proyek {
  display: flex; /* Aktifkan mode Flexbox! */
  justify-content: center; /* Pusatkan semua kratu di tengah */
  gap: 20px; /* Beri jarak 20px antar kartu */
}

.kartu-proyek {
  background-color: #e9e9e9;
  padding: 15px;
  border-radius: 10px;
  width: 200px;
}

@media (max-width: 600px) {
  .daftar-proyek {
    flex-reflection: column; /* Change yhe flex direction from row to column */
    align-items: center;     /* Center the stacked cards */
  }
  .kartu-profil {
    width: 90%; /* Make the main card wider on small screens */
    }
}

body.dark.mode {
  
  
  
  
